*{
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    margin-top: 4%;
}

.container_div{
    border: 1px solid black;
    padding: 8px;
}

h2{
    margin-bottom: 20px;
}

.searchBox{
    font-weight: 600;
    padding: 20px 0;
    width: 100%;
    /* border: 1px solid black; */
    display: inline-flex;
    margin-bottom: 10px;
    vertical-align: center;
    justify-content: center;
    align-items: center;
}

#search{
    margin: 0 5px 0 5px;
    width:52%;
    height: 30px;
}

.search_btn{
    background-color:red;
    color: black;
    text-align: center;
    border: 0;
    width: 5%;
    height: 33px;
    border-radius: 15%;
    cursor: pointer;
}

.search_btn:hover{
    background-color: #e17f61;
}

ul{
    list-style-type: none;
}

.bookName_li{
    display: inline-flex;
    justify-content: flex-start;
    border: 1px solid black;
    width: 100%;
    align-items: center
}

.bookName_li img{
    width: 20%;
    height: 130px;
}

.bookName_li .info{
    width: 70%;
}

.info_ul li{
    color: black;
    text-align: left;
    display: block;
}

.borrow_btn{
    vertical-align: center;
    background-color: red;
    /* color: black; */
    /* text-align: center; */
    /* border: 0; */
    color: black;
    text-align: center;
    border: 0;
    width: 48px;
    vertical-align: center;
    height: 30px;
    border-radius: 15%;
    cursor: pointer;
}

.borrow_btn:hover{
    background-color: rgb(230, 142, 75);
}